.EditProduct {
    width:  100%;
    margin: 0 auto;
    padding: 30px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding:  10px 20px;
    display: block;
    width: 45%;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: 16px;
}

.InputElement:focus {
    outline: none;
    background-color: transparent;
}

.Row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.Textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.SaveBtn {
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding:  5px 10px;
    border: none;
}
.BtnContainer {
    max-width: 10%;
    margin: 30px auto;
}

