.Categories {
    width: 100%;
    margin-top: 50px;
    display: flex;
    
}

.CategoriesOptions {
 padding: 30px 0 0 30px;
 width: 20%;
} 

.CategoriesOptionsList {
    padding: 0;
}

 .CategoriesList {
     flex: 1;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
    
 }

 .Category {
     display: flex;
     font-size: 15px;
     font-weight: 500;
 }