.Container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 50px;
    grid-column-gap: 30px;
}

@media only screen and (max-width: 600px){
    .Container {
        display: block;
    }
}