.Container {
    width: 80%;
    margin: 0 auto;
}

.Orders {
    border: 1px solid black;
}

.Title {
    background-color: lightgray;
    padding: 10px;
}
table {
    width: 100%;
}

.StatusBtn {
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
}

.ShipBtn {
    background-color: rgb(21, 157, 202);
}
.DeliverBtn {
    background-color: green;
}
.CancelBtn {
    background-color: red;
}

button:disabled { 
    opacity: 0.2;
}